#main-content {
    border: 0px;
}

#row-main {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
}

#content {
    /* for the animation */
    transition: width 0.3s;
}

.sidebar {
    /* for the animation */
    transition: margin 0.3s;
    border-left: 1px solid black;
    display: none;
}

.inner-sidebar {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.turn-content {
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background-color: dodgerblue;
}

#install-story-button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background-color: dodgerblue;
}

#list-stories-button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background-color: dodgerblue;
}

#progress-bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
#progress-bar.loading {
    opacity: 1.0;
}
#progress-bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}
#story-frame {
    display: none;
}
#message {
    display: none;
}

#story-list-container {
    display: none;
}

.modal-dialog {
    height: 800px;
}
